In [38]:
import pandas as pd

mydf = pd.read_excel('barry_farm.xlsx')

In [39]:
mydf.columns

Index(['Square/Suffix/', 'Premise Address', 'Owner Name', 'Neighborhood',
       'Sub-Neighborhood', 'Use Code', 'Sale Price', 'Recordation Date',
       '2020 Total Assessment'],
      dtype='object')

In [40]:
mydf['new_adress'] = mydf['Premise Address'] + ", DC, United States"

In [41]:
mydf.head()

,Square/Suffix/,Premise Address,Owner Name,Neighborhood,Sub-Neighborhood,Use Code,Sale Price,Recordation Date,2020 Total Assessment,new_adress
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5788 0008,2419 SHANNON PL SE,REVIVAL TEMPLE INC,BARRY FARMS,NaN,12.0,75000.0,2003-04-23 00:00:00,292350,"2419 SHANNON PL SE, DC, United States"
2,5788 0009,2417 SHANNON PL SE,MICHAEL ENDALE,BARRY FARMS,NaN,12.0,420000.0,2019-04-10 00:00:00,291850,"2417 SHANNON PL SE, DC, United States"
3,5788 0010,2415 SHANNON PL SE,ZELDA I MIDDLETON,BARRY FARMS,NaN,12.0,0.0,NaN,265330,"2415 SHANNON PL SE, DC, United States"
4,5788 0011,2413 SHANNON PL SE,DISTRICT OF COLUMBIA,BARRY FARMS,NaN,91.0,0.0,2014-01-30 00:00:00,20880,"2413 SHANNON PL SE, DC, United States"

In [26]:
# # Install the required packages
# !pip install geopandas
# !pip install geopy

In [32]:
import certifi
import ssl
import geopy.geocoders
from geopy.geocoders import Nominatim
ctx = ssl.create_default_context(cafile=certifi.where())
geopy.geocoders.options.default_ssl_context = ctx

In [47]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent='dc_find_lat_long')
location = locator.geocode('423 MARTIN LUTHER KING JR AVE SE, DC, United States')

In [48]:
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

AttributeError: 'NoneType' object has no attribute 'latitude'

In [42]:
from geopy.extra.rate_limiter import RateLimiter

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
mydf['location'] = mydf['new_adress'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
mydf['point'] = mydf['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
mydf[['latitude', 'longitude', 'altitude']] = pd.DataFrame(mydf['point'].tolist(), index=mydf.index)

In [44]:
mydf.to_csv("barry_farm_lat_long.csv")

,Square/Suffix/,Premise Address,Owner Name,Neighborhood,Sub-Neighborhood,Use Code,Sale Price,Recordation Date,2020 Total Assessment,new_adress,location,point,latitude,longitude,altitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Nanno, Comunità della Val di Non, Provincia d...","(46.3144754, 11.0480288, 0.0)",46.314475,11.048029,0.0
1,5788 0008,2419 SHANNON PL SE,REVIVAL TEMPLE INC,BARRY FARMS,NaN,12.0,75000.0,2003-04-23 00:00:00,292350,"2419 SHANNON PL SE, DC, United States","(2419, Shannon Place Southeast, Hillsdale, Ana...","(38.86327815, -76.99383547217188, 0.0)",38.863278,-76.993835,0.0
2,5788 0009,2417 SHANNON PL SE,MICHAEL ENDALE,BARRY FARMS,NaN,12.0,420000.0,2019-04-10 00:00:00,291850,"2417 SHANNON PL SE, DC, United States","(2417, Shannon Place Southeast, Hillsdale, Ana...","(38.86329975, -76.99374123591917, 0.0)",38.863300,-76.993741,0.0
3,5788 0010,2415 SHANNON PL SE,ZELDA I MIDDLETON,BARRY FARMS,NaN,12.0,0.0,NaN,265330,"2415 SHANNON PL SE, DC, United States","(2415, Shannon Place Southeast, Hillsdale, Ana...","(38.8633357, -76.9936695320343, 0.0)",38.863336,-76.993670,0.0
4,5788 0011,2413 SHANNON PL SE,DISTRICT OF COLUMBIA,BARRY FARMS,NaN,91.0,0.0,2014-01-30 00:00:00,20880,"2413 SHANNON PL SE, DC, United States","(2413, Shannon Place Southeast, Hillsdale, Ana...","(38.86342056845045, -76.99331981717472, 0.0)",38.863421,-76.993320,0.0
5,5788 0012,2411 SHANNON PL SE,CHARLES THOMAS TRUSTEE,BARRY FARMS,NaN,12.0,0.0,2016-06-16 00:00:00,327920,"2411 SHANNON PL SE, DC, United States","(2411, Shannon Place Southeast, Hillsdale, Ana...","(38.863417150000004, -76.9935266169652, 0.0)",38.863417,-76.993527,0.0
6,5788 0013,2409 SHANNON PL SE,KRISTINA LESZCZAK,BARRY FARMS,NaN,12.0,185000.0,2015-06-02 00:00:00,304520,"2409 SHANNON PL SE, DC, United States","(2409, Shannon Place Southeast, Hillsdale, Ana...","(38.86345645, -76.99346636999994, 0.0)",38.863456,-76.993466,0.0
7,5788 0014,2407 SHANNON PL SE,GARY A MASON,BARRY FARMS,NaN,12.0,0.0,NaN,296360,"2407 SHANNON PL SE, DC, United States","(2407, Shannon Place Southeast, Hillsdale, Ana...","(38.8634905, -76.99340096408302, 0.0)",38.863490,-76.993401,0.0
8,5788 0015,2405 SHANNON PL SE,KERMIT G FRAZIER SHELIA LONESOME,BARRY FARMS,NaN,12.0,0.0,2019-11-04 00:00:00,337780,"2405 SHANNON PL SE, DC, United States","(2405, Shannon Place Southeast, Hillsdale, Ana...","(38.86354535, -76.99333712589168, 0.0)",38.863545,-76.993337,0.0
9,5788 0069,2401 SHANNON PL SE,ARRINGTON LIGGINS DIXON TRUSTEE,BARRY FARMS,NaN,12.0,0.0,2019-07-09 00:00:00,411090,"2401 SHANNON PL SE, DC, United States","(2401, Shannon Place Southeast, Hillsdale, Ana...","(38.863612, -76.99318464895177, 0.0)",38.863612,-76.993185,0.0
10,5788 0819,2425 SHANNON PL SE,REVIVAL TEMPLE CHURCH INC,BARRY FARMS,NaN,12.0,0.0,NaN,226600,"2425 SHANNON PL SE, DC, United States","(2425, Shannon Place Southeast, Hillsdale, Ana...","(38.86311605, -76.99404096258498, 0.0)",38.863116,-76.994041,0.0
11,5788 0821,2421 SHANNON PL SE,HIP DC LLC,BARRY FARMS,NaN,12.0,164530.0,2017-07-07 00:00:00,210500,"2421 SHANNON PL SE, DC, United States","(2421, Shannon Place Southeast, Hillsdale, Ana...","(38.8632181, -76.9939155457321, 0.0)",38.863218,-76.993916,0.0
12,5788 0823,0850 HOWARD RD SE,WMATA,BARRY FARMS,NaN,63.0,0.0,NaN,3488010,"0850 HOWARD RD SE, DC, United States","(850, Howard Road Southeast, Hillsdale, Washin...","(38.86427228030299, -76.99778884204186, 0.0)",38.864272,-76.997789,0.0
13,5788 0824,0805 HOWARD RD SE,NATIONAL PARK SERVICE,BARRY FARMS,NaN,63.0,0.0,NaN,1877340,"0805 HOWARD RD SE, DC, United States","(805, Howard Road Southeast, Hillsdale, Washin...","(38.864231736438626, -76.99831422227871, 0.0)",38.864232,-76.998314,0.0
14,5789 0017,2401 MARTIN LUTHER KING JR AVE SE,LEVI WILSON,BARRY FARMS,NaN,42.0,0.0,NaN,615250,"2401 MARTIN LUTHER KING JR AVE SE, DC, United ...",None,None,NaN,NaN,NaN
15,5789 0018,2403 MARTIN LUTHER KING JR AVE SE,HMB MANAGEMENT LLC,BARRY FARMS,NaN,42.0,290000.0,2013-03-01 00:00:00,360540,"2403 MARTIN LUTHER KING JR AVE SE, DC, United ...",None,None,NaN,NaN,NaN
16,5789 0021,MARTIN LUTHER KING JR AV SE,ACME BOOK SHOP LLC,BARRY FARMS,NaN,191.0,0.0,2019-06-20 00:00:00,177190,"MARTIN LUTHER KING JR AV SE, DC, United States",None,None,NaN,NaN,NaN
17,5789 0030,2423 MARTIN LUTHER KING JR AVE SE,DISTRICT OF COLUMBIA,BARRY FARMS,NaN,83.0,0.0,NaN,19701700,"2423 MARTIN LUTHER KING JR AVE SE, DC, United ...",None,None,NaN,NaN,NaN
18,5789 0031,2427 MARTIN LUTHER KING JR AVE SE,THURGOOD MARSHALL ACADEMY JOSHUA M KERN,BARRY FARMS,NaN,83.0,0.0,2005-01-03 00:00:00,8192800,"2427 MARTIN LUTHER KING JR AVE SE, DC, United ...",None,None,NaN,NaN,NaN
19,5789 0808,2405 - 2407 MARTIN LUTHER KING JR AV SE,CEDAR TREE ACADEMY PUBLIC CHARTER SCHOOL,BARRY FARMS,NaN,83.0,0.0,2015-11-23 00:00:00,2904520,"2405 - 2407 MARTIN LUTHER KING JR AV SE, DC, U...",None,None,NaN,NaN,NaN

In [50]:
# # Install packages:
# !pip install folium

Requirement already satisfied: folium in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (0.8.3)
Requirement already satisfied: jinja2 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: branca>=0.3.0 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from folium) (0.3.1)
Requirement already satisfied: numpy in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from folium) (1.16.4)
Requirement already satisfied: six in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from folium) (1.11.0)
Requirement already satisfied: requests in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from folium) (2.22.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from jinja2->folium) (1.0)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from requests->folium) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from requests->folium) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/xuechunwang/anaconda3/lib/python3.6/site-packages (from requests->folium) (2018.4.16)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [77]:
mydf = pd.read_csv('barry_farm_lat_long.csv')

In [78]:
mydf.shape

(1305, 16)

In [79]:
mydf.dropna(subset = ["latitude"], inplace=True)

In [82]:
mydf.columns

Index(['Unnamed: 0', 'Square/Suffix/', 'Premise Address', 'Owner Name',
       'Neighborhood', 'Sub-Neighborhood', 'Use Code', 'Sale Price',
       'Recordation Date', '2020 Total Assessment', 'new_adress', 'location',
       'point', 'latitude', 'longitude', 'altitude'],
      dtype='object')

In [83]:
mydf = mydf.rename(columns={'Owner Name': 'owner_name'})

In [ ]:
from folium.plugins import MarkerCluster
some_map = folium.Map(location=[subset_of_df[‘INTPTLAT’].mean(), 
 subset_of_df[‘INTPTLONG’].mean()], 
 zoom_start=4)
mc = MarkerCluster()
#creating a Marker for each point in df_sample. Each point will get a popup with their zip
for row in subset_of_df.itertuples():
    mc.add_child(folium.Marker(location=[row.INTPTLAT,  row.INTPTLONG],popup=row.GEOID))
    
some_map.add_child(mc)
some_map

In [92]:
mydf.dtypes

Unnamed: 0                 int64
Square/Suffix/            object
Premise Address           object
owner_name                object
Neighborhood              object
Sub-Neighborhood          object
Use Code                 float64
Sale Price               float64
Recordation Date          object
2020 Total Assessment     object
new_adress                object
location                  object
point                     object
latitude                 float64
longitude                float64
altitude                 float64
dtype: object

In [90]:
mydf['owner_name'].astype(str)

0                                           nan
1                            REVIVAL TEMPLE INC
2                                MICHAEL ENDALE
3                             ZELDA I MIDDLETON
4                          DISTRICT OF COLUMBIA
                         ...
1300                           ALVIN E GOINS JR
1301       ANACOSTIA ECONOMIC MARGARET P MILLER
1302    BETH SHOLOM CONGREGATION & TALMUD TORAH
1303         OHEV SHOLOM-THE NATIONAL SYNAGOGUE
1304         ELESAVETGRAD CEMETERY SIDNEY KRESS
Name: owner_name, Length: 798, dtype: object

In [ ]:
import folium.plugins

m = folium.Map(location=[0, 0], zoom_start=2)
lats = [37.25715519, -31.72884313, -75.27080391, 50.30897559]
lons = [167.20482296, 23.5310324, 164.47413453, 26.87409742]

cluster = folium.plugins.MarkerCluster().add_to(m)
for i in range(0, 4):
    folium.Marker(location=[lats[i], lons[i]], popup=str(i)).add_to(cluster)

folium.LayerControl(collapsed=False).add_to(m)
m

In [ ]:
m.save('map.html')